# Exes
bin

# Default CLion output dirs
cmake-build-*
cmake-install-*

# CLion config
.idea

# Default MSVC output dir
out

# MSVC config
.vs

# Go not going yet
libsgd/go

# Ignore Blitz3d backup files
*.bb
