# Exes
bin

# Binary assets
assets

# Default CLion output dir
cmake-build-*
cmake-install-*

# CLion config
.idea

# Default MSVC output dir
out

# MSVC config
.vs

# Docs coming soon!
html
Doxyfile
doxypress.json

# Nodejs crud
libsgd/nodejs/build
libsgd/nodejs/libsgd.node
libsgd/nodejs/libsgd_wrap.cxx

