{
    "targets": 
    [
        {
            "target_name": "sgd",
            "sources": ["sgd_wrap.cxx"],
            "libraries": [${SGD_NODE_GYP_LIBS}],
            "include_dirs": ["${CMAKE_SOURCE_DIR}/libsgd/include", "./node_modules/node-addon-api"]
        }
    ]
}
